#header#
<div class="mainArea">
    <div class="textContent">
        <div class="aboutArea">
            <p><a id="history">HISTORY</a></p>

            <p>Mumbai Art Room was founded in 2011 by Susan Hapgood and was registered officially as the Contemporary Arts Trust with the Charity Commissioner's Office of the State of Maharashtra in 2012. It exhibits contemporary art, design, and visual culture from around the world and provides a non-commercial platform for artistic and curatorial practice, one that is experimental, educational, and as accessible as possible to all audiences.</p>
            <p>Mumbai Art Room was founded in 2011 by Susan Hapgood and was registered officially as the Contemporary Arts Trust with the Charity Commissioner's Office of the State of Maharashtra in 2012. It exhibits contemporary art, design, and visual culture from around the world and provides a non-commercial platform for artistic and curatorial practice, one that is experimental, educational, and as accessible as possible to all audiences.</p>
            <p>Mumbai Art Room was founded in 2011 by Susan Hapgood and was registered officially as the Contemporary Arts Trust with the Charity Commissioner's Office of the State of Maharashtra in 2012. It exhibits contemporary art, design, and visual culture from around the world and provides a non-commercial platform for artistic and curatorial practice, one that is experimental, educational, and as accessible as possible to all audiences.</p>
            <p>Mumbai Art Room was founded in 2011 by Susan Hapgood and was registered officially as the Contemporary Arts Trust with the Charity Commissioner's Office of the State of Maharashtra in 2012. It exhibits contemporary art, design, and visual culture from around the world and provides a non-commercial platform for artistic and curatorial practice, one that is experimental, educational, and as accessible as possible to all audiences.</p>
            <p>Mumbai Art Room was founded in 2011 by Susan Hapgood and was registered officially as the Contemporary Arts Trust with the Charity Commissioner's Office of the State of Maharashtra in 2012. It exhibits contemporary art, design, and visual culture from around the world and provides a non-commercial platform for artistic and curatorial practice, one that is experimental, educational, and as accessible as possible to all audiences.</p>
            <p>Mumbai Art Room was founded in 2011 by Susan Hapgood and was registered officially as the Contemporary Arts Trust with the Charity Commissioner's Office of the State of Maharashtra in 2012. It exhibits contemporary art, design, and visual culture from around the world and provides a non-commercial platform for artistic and curatorial practice, one that is experimental, educational, and as accessible as possible to all audiences.</p>

            <p>&nbsp;</p>

            <p><a id="trustees">BOARD OF TRUSTEES</a></p>

            <p>Diana Campbell Betancourt (Chair),&nbsp;<span style="line-height: 1.6em;">Susan Hapgood (Founder),&nbsp;</span><span style="line-height: 1.6em;">S</span><span style="line-height: 1.6em;">hanay Jhaveri,&nbsp;</span><span style="line-height: 1.6em;">Tarbir Shahpuri</span></p>
            <p>Diana Campbell Betancourt (Chair),&nbsp;<span style="line-height: 1.6em;">Susan Hapgood (Founder),&nbsp;</span><span style="line-height: 1.6em;">S</span><span style="line-height: 1.6em;">hanay Jhaveri,&nbsp;</span><span style="line-height: 1.6em;">Tarbir Shahpuri</span></p>
            <p>Diana Campbell Betancourt (Chair),&nbsp;<span style="line-height: 1.6em;">Susan Hapgood (Founder),&nbsp;</span><span style="line-height: 1.6em;">S</span><span style="line-height: 1.6em;">hanay Jhaveri,&nbsp;</span><span style="line-height: 1.6em;">Tarbir Shahpuri</span></p>
            <p>Diana Campbell Betancourt (Chair),&nbsp;<span style="line-height: 1.6em;">Susan Hapgood (Founder),&nbsp;</span><span style="line-height: 1.6em;">S</span><span style="line-height: 1.6em;">hanay Jhaveri,&nbsp;</span><span style="line-height: 1.6em;">Tarbir Shahpuri</span></p>
            <p>Diana Campbell Betancourt (Chair),&nbsp;<span style="line-height: 1.6em;">Susan Hapgood (Founder),&nbsp;</span><span style="line-height: 1.6em;">S</span><span style="line-height: 1.6em;">hanay Jhaveri,&nbsp;</span><span style="line-height: 1.6em;">Tarbir Shahpuri</span></p>

            <p>&nbsp;</p>

            <p><a id="support">FUNDING AND SUPPORT</a></p>

            <p>Mumbai Art Room is supported by Inlaks Shivdasani Foundation, Navajbai Ratan Tata Trust, Sir Ratan Tata Trust, The Polish Institute New Delhi, and R &amp; S Nanavati Charitable Trust. Additional funding has been provided by Priya Jhaveri, Amrita Jhaveri, Sunita and Vijay Choraria, Reena and Jitish Kallat, and Aaron Schwarz. In-kind support has been generously offered by organisations including Chandon, Christie's, Splendour, Pico, Biswas Consultants, Kala Goda Café, Studio Mumbai, What About Art?, R.R. Oomerbhoy Pvt. Ltd., La Folie, Nandam Realtors, AZB &amp; Partners, Chatterjee + Lal, Jhaveri Contemporary, Project 88, Lakeeren Gallery, Sakshi Gallery, Nature Morte, Chemould Prescott Road, Exhibit 320, Experimenter Kolkata, and Galerie Mirchandani + Steinruecke.</p>
            <p>Mumbai Art Room is supported by Inlaks Shivdasani Foundation, Navajbai Ratan Tata Trust, Sir Ratan Tata Trust, The Polish Institute New Delhi, and R &amp; S Nanavati Charitable Trust. Additional funding has been provided by Priya Jhaveri, Amrita Jhaveri, Sunita and Vijay Choraria, Reena and Jitish Kallat, and Aaron Schwarz. In-kind support has been generously offered by organisations including Chandon, Christie's, Splendour, Pico, Biswas Consultants, Kala Goda Café, Studio Mumbai, What About Art?, R.R. Oomerbhoy Pvt. Ltd., La Folie, Nandam Realtors, AZB &amp; Partners, Chatterjee + Lal, Jhaveri Contemporary, Project 88, Lakeeren Gallery, Sakshi Gallery, Nature Morte, Chemould Prescott Road, Exhibit 320, Experimenter Kolkata, and Galerie Mirchandani + Steinruecke.</p>
            <p>Mumbai Art Room is supported by Inlaks Shivdasani Foundation, Navajbai Ratan Tata Trust, Sir Ratan Tata Trust, The Polish Institute New Delhi, and R &amp; S Nanavati Charitable Trust. Additional funding has been provided by Priya Jhaveri, Amrita Jhaveri, Sunita and Vijay Choraria, Reena and Jitish Kallat, and Aaron Schwarz. In-kind support has been generously offered by organisations including Chandon, Christie's, Splendour, Pico, Biswas Consultants, Kala Goda Café, Studio Mumbai, What About Art?, R.R. Oomerbhoy Pvt. Ltd., La Folie, Nandam Realtors, AZB &amp; Partners, Chatterjee + Lal, Jhaveri Contemporary, Project 88, Lakeeren Gallery, Sakshi Gallery, Nature Morte, Chemould Prescott Road, Exhibit 320, Experimenter Kolkata, and Galerie Mirchandani + Steinruecke.</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
            <p><img src="images/mrtImg.jpg" alt="Mumbai Art Room image"></p>
        </div>
    </div>
    <div class="homeArea2" id="about_homearea2">
        <p><a href="#">TEAM</a></p>
        <p><a href="#history">HISTORY</a></p>
        <p><a href="#trustees">TRUSTEES</a></p>
        <p><a href="#support">SUPPORT</a></p>
        <p><a href="#">CONTACT</a></p>
    </div>
</div>
#footer#