#header#
<style>
    #html5-text {
        background-color: #000;
        padding-top: 10px;
        opacity: 0.8;
        font-family: "UniversLTStd" !important;
        color: gray;
        font-size: 11px !important;
        text-align: left !important;
    }
</style>
<div class="mainArea">
    <div class="gallery">
        <div class="galleryContent">
            <h1>
                #gallery_name#
            </h1>
            <div class="galArea">
                #gallery_images#</div>
        </div>
        <div class="homeArea2">
            <p><br />
                <a href="#prev_page#">GO BACK</a></p>
        </div>
    </div>
</div>
#js_lightbox#
#footer#