#header#
<style>
    #html5-text {
        background-color: #000;
        padding-top: 10px;
        opacity: 0.8;
        font-family: "UniversLTStd" !important;
        color: gray;
        font-size: 11px !important;
        text-align: left !important;
    }

    .full-imgarea{width:100%;height:auto;float:left;}
    .full-imgarea img{width:100%;height:auto;display:block;}
</style>
<div class="mainArea">
    <div class="textContent">
        <div class="full-imgarea">
            <img src="images/thumb2.jpg" />
        </div>
    </div>
</div>
#footer#