#header#

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.php">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="active">Add about content</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        About Content
                    </header>
                    <div class="panel-body">
                        <form action="about.php" method="post" name="about_form" class="form-horizontal tasi-form" id="about_form">
                            #msg#
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Content:</div>
                                <div class="col-sm-7">
                                    <textarea class="form-control ckeditor" name="about_content" rows="6" id="about_content"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5 control-label">&nbsp;</div>
                                <div class="col-sm-2">
                                    <input type="submit" value="Add" class="btn btn-info" name="submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>

        <section class="panel">
            <div class="panel-body">
                <div class="adv-table">
                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered table-striped" id="about">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>About Content</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            #about#
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
</section>

<link rel="stylesheet" href="assets/data-tables/DT_bootstrap.css" />
<script type="text/javascript" language="javascript" src="assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="assets/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" src="assets/ckeditor/ckeditor.js"></script>

<script type="text/javascript" charset="utf-8">
    function change_status(about_id) {
        $.ajax({
            type: 'GET',
            url: 'change_status.php?about_id=' + about_id
        }).done(function (resp) {
            if (resp) {
                swal({
                    title: "Status changed!",
                    text: "",
                    type: "success",
                    confirmButtonColor: "#78cd51",
                    confirmButtonText: "OK!",
                    closeOnConfirm: false
                },
                function () {
                    top.location.href = 'about.php';
                });
            }
        });
    }

    function delete_record(about_id) {
        swal({
            title: "Are you sure?",
            text: "Deleting this record might affect your project at different levels and you will not be able to recover this record",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'GET',
                    url: 'delete_record.php?about_id=' + about_id,
                }).success(function (resp) {
                    if (resp == 'success') {
                        swal({
                            title: "Record has been deleted!",
                            text: "",
                            type: "success",
                            confirmButtonColor: "#78cd51",
                            confirmButtonText: "OK!",
                            closeOnConfirm: false
                        },
                        function () {
                            top.location.href = 'about.php';
                        });
                    } else {
                        swal("Error", "Something has gone wrong! Please contact your administrator.", "error");
                    }
                });
            } else {
                swal("Cancelled", "Record is safe :)", "info");
            }
        });
    }

    $(document).ready(function () {
        $('#about').dataTable({
            "aaSorting": [[0, "desc"]]
        });
    });
</script>

#footer#