#header#

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.php">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="active">Add Gallery Images</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Add Gallery Images
                    </header>
                    <div class="panel-body">
                        <form action="add-gallery-images.php" method="post" name="gallery_form" class="form-horizontal tasi-form" id="gallery_form" enctype="multipart/form-data">
                            #msg#
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Gallery name:</div>
                                <div class="col-sm-7">
                                    <input type="text" id="gallery_name" name="gallery_name" value="#gallery_name#" class="form-control" disabled="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Add image:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="gallery_image" name="gallery_image" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5 control-label">&nbsp;</div>
                                <div class="col-sm-2">
                                    <input type="submit" value="Add" class="btn btn-info" name="submit" />
                                </div>
                            </div>
                            <input type="hidden" name="gallery_id" id="gallery_id" value="#gallery_id#" />
                            <input type="hidden" name="path" id="path" value="#path#" />
                        </form>
                    </div>
                </section>
            </div>
        </div>

        <section class="panel">
            <div class="panel-body">
                <div class="adv-table">
                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered table-striped" id="gallery_list">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Images</th>
                                <th>Edit</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            #gallery_images_list#
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
</section>

<link rel="stylesheet" href="assets/data-tables/DT_bootstrap.css" />
<script type="text/javascript" language="javascript" src="assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="assets/data-tables/DT_bootstrap.js"></script>

<link rel="stylesheet" type="text/css" href="assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<script type="text/javascript" src="assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>

<style type="text/css">
    label.error {
        color: #b94a48;
        font-weight: normal;
        font-size: 12px;
    }

    ul {
        padding:0px;
        margin: 0px;
    }
    #response {
        padding:10px;
        background-color:#9F9;
        border:1px solid #ddd;
        margin-bottom:20px;
    }
    #list li {
        margin: 0 0 3px;
        padding:8px;
        color:#797979;
        list-style: none;
    }
</style>

<script type="text/javascript" charset="utf-8">
    $('#gallery_image').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $(document).ready(function () {
        $('#gallery_list').dataTable({
            "aaSorting": [[3, "desc"]]
        });

        $("#gallery_form").validate({
            rules: {
                gallery_name: {required: true, minlength: 2, maxlength: 100}
            },
            messages: {
                gallery_name: {required: 'Please enter gallery title'}
            }
        });
    });
</script>
#footer#