#header#
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <aside class="profile-nav col-lg-3">
                <section class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="#avatar#" alt="#avatar_alt#">
                        </a>
                        <h1>#fname# #lname#</h1>
                        <p>#email#</p>
                    </div>

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="my-profile.php"> <i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="my-profile-edit.php"> <i class="fa fa-edit"></i> Edit profile</a></li>
                    </ul>

                </section>
            </aside>
            <aside class="profile-info col-lg-9">
                <section class="panel">
                    <div class="bio-graph-heading">
                        #thought#
                    </div>
                    <div class="panel-body bio-graph-info">
                        <h1>Bio Graph</h1>
                        <div class="row">
                            <div class="bio-row">
                                <p><span>First Name </span>: #fname#</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Last Name </span>: #lname#</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Country </span>: #country#</p>
                            </div>
<!--                            <div class="bio-row">
                                <p><span>Birthday</span>: #dob#</p>
                            </div>-->
                            <div class="bio-row">
                                <p><span>Role </span>: #type#</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Email </span>: #email#</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Mobile </span>: (+91) - #mobile#</p>
                            </div>
                        </div>
                    </div>
                </section>
            </aside>
        </div>

        <!-- page end-->
    </section>
</section>
#footer#