#header#

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.php">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="active">Add Projects/Exhibitions/Events</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Projects / Exhibitions / Events
                    </header>
                    <div class="panel-body">
                        <form action="projects.php" method="post" name="project_form" class="form-horizontal tasi-form" id="project_form" enctype="multipart/form-data">
                            #msg#
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Title:</div>
                                <div class="col-sm-7">
                                    <input type="text" id="project_title" name="project_title" value="#project_title#" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Date:</div>
                                <div class="col-sm-7">
                                    <input type="text" id="project_date" name="project_date" value="#project_date#" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Content 1:</div>
                                <div class="col-sm-7">
                                    <textarea class="form-control ckeditor" name="project_content_1" id="project_content_1" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Content 2:</div>
                                <div class="col-sm-7">
                                    <textarea class="form-control ckeditor" name="project_content_2" id="project_content_2" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Content 3:</div>
                                <div class="col-sm-7">
                                    <textarea class="form-control ckeditor" name="project_content_3" id="project_content_3" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 1:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_1" name="media_1" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_1" name="image_link_1" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_1" name="image_caption_1" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 2:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_2" name="media_2" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_2" name="image_link_2" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_2" name="image_caption_2" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 3:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_3" name="media_3" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_3" name="image_link_3" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_3" name="image_caption_3" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 4:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_4" name="media_4" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_4" name="image_link_4" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_4" name="image_caption_4" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 5:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_5" name="media_5" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_5" name="image_link_5" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_5" name="image_caption_5" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Image layout:</div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="image_layout" name="image_layout">
                                        #image_layouts#
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 6:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_6" name="media_6" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_6" name="image_link_6" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_6" name="image_caption_6" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 7:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_7" name="media_7" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_7" name="image_link_7" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_7" name="image_caption_7" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 8:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_8" name="media_8" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_8" name="image_link_8" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_8" name="image_caption_8" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 9:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_9" name="media_9" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_9" name="image_link_9" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_9" name="image_caption_9" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Media 10:</div>
                                <div class="col-sm-3">
                                    <div class="fileupload fileupload-new" data-provides='fileupload'>
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="img/no_image.jpeg" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                <span class="fileupload-new">
                                                    <i class="fa fa-paper-clip"> Select image</i>
                                                </span>
                                                <span class="fileupload-exists">
                                                    <i class="fa fa-undo">Change</i>
                                                </span>
                                                <input class="default" type="file" id="media_10" name="media_10" />
                                            </span>
                                        </div>
                                    </div>
                                    <input type="text" id="image_link_10" name="image_link_10" class="form-control" placeholder="(Optional) Enter YouTube link here for a video" />
                                    <br />
                                    <input id="image_caption_10" name="image_caption_10" class="form-control" placeholder="(Optional) Enter media caption here" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Image layout 2:</div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="image_layout_2" name="image_layout_2">
                                        #image_layouts#
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Type:</div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="type" name="type">
                                        <option value="0">Please select type</option>
                                        <option value="event">Event</option>
                                        <option value="exhibition">Exhibition</option>
                                        <option value="project">Project</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Is Home Page?:</div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="is_home" name="is_home">
                                        <option value="N">No</option>
                                        <option value="Y">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">Links:</div>
                                <div class="col-sm-7">
                                    <textarea class="form-control ckeditor" name="project_links" id="project_links" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5 control-label">&nbsp;</div>
                                <div class="col-sm-2">
                                    <input type="submit" value="Add" class="btn btn-info" name="submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>

        <section class="panel">
            <div class="panel-body">
                <div class="adv-table">
                    <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered table-striped" id="projects_list">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Home Page</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            #projects_list#
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="panel">
            <div class="panel-body">
                <div class="adv-table" id="list">
                    <div id="response"></div>
                    <ul>
                        #project_sorting#
                    </ul>
                </div>
            </div>
        </section>
    </section>
</section>

<link rel="stylesheet" href="assets/data-tables/DT_bootstrap.css" />
<script type="text/javascript" language="javascript" src="assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="assets/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" src="assets/ckeditor/ckeditor.js"></script>

<link rel="stylesheet" type="text/css" href="assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<script type="text/javascript" src="assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>

<style type="text/css">
    label.error {
        color: #b94a48;
        font-weight: normal;
        font-size: 12px;
    }

    ul {
        padding:0px;
        margin: 0px;
    }
    #response {
        padding:10px;
        background-color:#9F9;
        border:1px solid #ddd;
        margin-bottom:20px;
    }
    #list li {
        margin: 0 0 3px;
        padding:8px;
        color:#797979;
        list-style: none;
    }
</style>

<script type="text/javascript" charset="utf-8">
    function limitText(limitField, limitCount, limitNum) {
        if (limitField.value.length > limitNum) {
            limitField.value = limitField.value.substring(0, limitNum);
        } else {
            limitCount.value = limitNum - limitField.value.length;
        }
    }

    $('#media_1').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_2').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_3').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_4').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_5').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_6').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_7').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_8').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_9').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    $('#media_10').change(function () {
        var val = $(this).val().toLowerCase();
        var regex = new RegExp("(.*?)\.(jpg|jpeg|png)$");
        if (!(regex.test(val))) {
            $(this).val('');
            sweetAlert('Error', 'Only JPG, JPEG, and PNG files are accepted.', 'error');
        }
    });

    function change_status(project_id) {
        $.ajax({
            type: 'GET',
            url: 'change_status.php?project_id=' + project_id
        }).done(function (resp) {
            if (resp == 'success') {
                swal({
                    title: "Status changed!",
                    text: "",
                    type: "success",
                    confirmButtonColor: "#78cd51",
                    confirmButtonText: "OK!",
                    closeOnConfirm: false
                },
                function () {
                    top.location.href = 'projects.php';
                });
            }
        });
    }

    function delete_record(project_id) {
        swal({
            title: "Are you sure?",
            text: "Deleting this record might affect your project at different levels and you will not be able to recover this record",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel it!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'GET',
                    url: 'delete_record.php?project_id=' + project_id,
                }).success(function (resp) {
                    if (resp == 'success') {
                        swal({
                            title: "Record has been deleted!",
                            text: "",
                            type: "success",
                            confirmButtonColor: "#78cd51",
                            confirmButtonText: "OK!",
                            closeOnConfirm: false
                        },
                        function () {
                            top.location.href = 'projects.php';
                        });
                    } else {
                        swal("Error", "Something has gone wrong! Please contact your administrator.", "error");
                    }
                });
            } else {
                swal("Cancelled", "Record is safe :)", "info");
            }
        });
    }


    $(document).ready(function () {
        function slideout() {
            setTimeout(function () {
                $("#response").slideUp("slow", function () {
                });
            }, 2000);
        }

        $("#response").hide();
        $(function () {
            $("#list ul").sortable({opacity: 0.8, cursor: 'move', update: function () {
                    var order = $(this).sortable("serialize") + '&update=update&type=project';
                    $.post("update_programme_order.php", order, function (theResponse) {
                        $("#response").html(theResponse);
                        $("#response").slideDown('slow');
                        slideout();
                    });
                }
            });
        });

        $('#projects_list').dataTable({
            "aaSorting": [[5, "desc"]]
        });

        $("#project_form").validate({
            rules: {
                project_title: {required: true, minlength: 2, maxlength: 100},
//                project_date: {project_date: true, maxlength: 50},
                project_content_1: {required: true},
                type: {select_type: true},
                image_layout: {select_image_layout: true}
            },
            messages: {
                project_title: {required: 'Please enter project title'},
                project_content_1: {required: 'Please enter project content'}
            }
        });
        jQuery.validator.addMethod('project_date', function (value) {
            return /^[a-zA-Z0-9 -]+$/.test(value);
        }, 'Only alphanumeric and "-" are allowed from project date.');

        jQuery.validator.addMethod('select_type', function (value) {
            return (value != '0');
        }, "Please select type");

        jQuery.validator.addMethod('select_image_layout', function (value) {
            return (value != '0');
        }, "Please select type");
    });
</script>
#footer#